<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% set user_list = ['like', 'brake', 'nike'] %}
  <p>Name: {{ name }}</p>
  <p>Age: {{ age }}</p>
  <p>Profession: {{ profession }}</p>
<ul>
  {% for user in user_list %}
  <li>{{ user }}</li>
  {% endfor %}
</ul>

{% set person_dict = {} %}
<ul>
  {% for person, value in person_dict.items() %}
  <li>{{ person }}: {{ value }}</li>
  {% else %}
  <li>Еще нет ничего</li>
  {% endfor %}
</ul>
</body>
</html>